# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Uploads directory (temporary files)
uploads/*
!uploads/.gitkeep

# Environments & IDEs
.env
.venv
env/
venv/
.vscode/
.idea/

# OS specific
Thumbs.db
Desktop.ini
.DS_Store
